# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
.venv/

# Ignore Docker image files
*.docker

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
C:\Users\ahink\devops-journey\python\AzureKubernetesServiceDeployment\.terraform\providers\registry.terraform.io\hashicorp\azurerm\3.101.0\windows_amd64